<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
    <body>
        <h1>Hello, <%= @user.full_name %></h1>
        <p>
            Your new task is: <%= @task.todo %>.<br>
            Your new task due date is: <%= @task.expire %>.<br>
        </p>
        <p>
            To login to the site, just follow this link: <%= @url %>.
        </p>
        <p>Thanks for joining and have a great day!</p>
    </body>
</html>