<li>
  	<div class="row">
	    <div class="<%= user.id == message.user_id ? 'message-sent' : 'message-received' %>">
	    	<%= image_tag avatar_url(message.user) %>
	      	<%= message.body %>
	      	<i><%= time_ago_in_words(message.created_at) %> ago </i>
	    </div>
  	</div>
</li>