<li>
  	<div class="row">
	    <div class="<%= user.id == message.user_id ? 'message-sent' : 'message-received' %>">
	    	<%= image_tag avatar_url(message.user), class: "img-circle" %>
	    	<i><%= time_ago_in_words(message.created_at) %> ago </i>
	    	<br>
	      	<%= message.body %>
	    </div>
  	</div>
</li>