
<div class="container">
    <div class="row">
        <div id="success_notice" style="text-align: left;"></div>
        <div class="col-md-6">
            <div class="todolist not-done">
             <h1>Todos</h1>
                <input type="text" class="form-control add-todo" placeholder="Add todo">
                <!-- <textarea class="form-control add-todo" placeholder="Add todo"></textarea> -->

                <button id="save" class="btn btn-success">Save</button>

                <!-- <button id="checkAll" class="btn btn-success">Mark all as done</button> -->
                
                <hr>
                
                <ul id="sortable" class="list-unstyled">
                    <% @tasks.each do |task| %>
                        <li class="ui-state-default">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="<%= task.id %>" /><%= task.todo %>
                                </label>
                            </div>
                        </li>
                    <% end %>
                </ul>
                <div class="todo-footer">
                    <strong><span class="count-todos"></span></strong> Items Left
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="todolist">
             <h1>Already Done</h1>
                <ul id="done-items" class="list-unstyled">
                    <% @task_finish.each do |finish| %>
                        <li>
                            <%= finish.todo %>
                            <button class="remove-item btn btn-default btn-xs pull-right" value="<%= finish.id %>"><span class="glyphicon glyphicon-remove"></span></button>
                        </li>
                    <% end %>
                    
                </ul>

            </div>
        </div>
    </div>
</div>
