<% unless user_signed_in? %>
    <%= render "home/signup_login" %>
<% end %>

	<% @activities.each do |activity| %>
	  	<div class="activity">
		  	<span class="activity_mark"><%= activity.owner.full_name if activity.owner %></span>
		  	added to <% if activity.trackable %>
		  				<span class="activity_mark"><%= activity.trackable.todo %></span>
		  			<% else %>
		  			  	which has since been removed 
		  			<% end %>
	  	</div>
	<% end %>